.THIS.parentDiv{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("/sfsites/c/resource/1506812494000/Community_Resources/background.jpg"); 
    background-size: 100% 100%;
    min-height: 800px;
}

.THIS .parentDiv{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("/sfsites/c/resource/1506812494000/Community_Resources/background.jpg"); 
    background-size: 100%;
}

.THIS .logoAndNavigation{
    background-color: token(headerBackground);
    opacity: 0.9;
}

.THIS .companylogo{
    width: 50px;
}

.THIS .profileMenu{
    float: right;
}

.THIS .headlineTitleText{
    text-shadow: 
        3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.THIS .headlineInfo{
    text-shadow: token(headingTextShadow);
}

.THIS .menuItemLink{
    background-image: url("/sfsites/c/resource/1506812494000/Community_Resources/llamaicon.png"); 
    background-repeat: no-repeat;
    padding-left: 45px !important;
    
}